/*Setting Website*/
html,body
{
    margin: 0; 
    padding: 0; 
    width: 100%; 
	font-family: Arial; 
}

/*This is the black bar at the top, basically the <header> tag*/
header{
display: block; 
background: rgb(87,87,87);
background: linear-gradient(90deg, rgba(87,87,87,0.89) 0%, rgba(0,0,0,1) 55%, rgba(87,87,87,0.89) 100%);margin: 0; 
width: 100%; 
padding-top: 5px; 
padding-bottom: 15px;
color: white; 
}

/*Changes the nav*/
nav{	
	display: flex; 
	justify-content: center; 
	align-items: center; 
}

/*centers the profile picture*/
.profilePicSettings{
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	width: 300px; 
	height: 400px; 
	border-radius: 50%; 
	padding: 20px;
	
}
/*aligns content*/
.alignCenter{
	text-align: center; 
}

/*this is to make the title more bold and changes the font*/
.title{
	text-align: center; 
	font-family: Perpetua; 
	font-weight: bolder; 
	font-size: 50px; 
}

/*creates the gray block of information*/
#blockInformation{
	display: block; 
	background: rgb(179, 179, 179, .90); 
	width: 70%;
	padding-left: 10px;
	padding-right: 10px;	
	min-height: 300px; 
	height: auto; 
	text-align: center;  
	margin: auto;
	border-radius: 25px; 
	border: 2px solid black
}

/*this updates the main title inside of blockInformation div*/
#blockInformation .blockTitle{
	text-align: center;
	color: black; 
	font-family: comic sans MS;
}
/*this updates the heading inside of blockInformation div*/
#blockInformation .blockHeading{
	text-decoration: underline; 
	color: black; 
	font-family: comic sans MS;	
}
/*this updates the normal information inside of blockInformation div*/
#blockInformation .information{
	text-align: center;
	color: black; 
}

li{
	margin: auto; 
	padding: auto; 
}
/*Creates black footer at the bottome and centers the text inside of it*/
footer{
	background: black; 
	text-align: center; 
	color: white; 
	padding: 10px; 
	margin-top: 25px; 
}

/*Creates the linkedin logo*/
#idLinkedInIcon{background-color:rgb(0, 102, 170);
border-radius:6px;
color:white;
cursor:pointer;
display:inline-block;
font:bold 35px Arial, Helvetica, sans-serif;
height:40px;
margin-top:1px;
text-align:center;
width:40px;}
#idLinkedInIcon:hover{
	box-shadow:  10px 5px 5px black;
	transition: .4s; 
}

/*this shows the github logo*/
fa fa-github:hover{
	box-shadow:  10px 5px 5px black;
	transition: .4s; 
}