header{
display: block; 
background-color: black;
color: white;  
margin: 0px; 
width: 100%; 
padding-top: 5px; 
padding-bottom: 5px;
}


.profilePicSettings{
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	width: 50%; 
	width: 200px; 
	height: 240px; 
	border-radius: 50%; 
 
}

.alignCenter{
	text-align: center; 
}
	